*.egg
*.egg-info
*.pyc
*.db
*.sqlite
*.sql
*.cache
*.lock
*.log
*.swp
TODO.txt

# Some Pylons-generated directories that should be ignored
/dist/
/data/
/build/

# Some OLD-specific directories that should be ignored
/store/
/old

# Ignore a large file in test_files
onlinelinguisticdatabase/tests/data/files/old_test_long.wav
onlinelinguisticdatabase/tests/data/files/old_test_medium.wav

# Ignore the Blackfoot MySQL dump file
onlinelinguisticdatabase/tests/data/datasets/blackfoot_mysql.sql

# The client-side JavaScript application should be kept separate, at least for now
onlinelinguisticdatabase/public/coffee/
onlinelinguisticdatabase/public/css/
onlinelinguisticdatabase/public/images/
onlinelinguisticdatabase/public/index.html
onlinelinguisticdatabase/public/js/
onlinelinguisticdatabase/public/js_/
onlinelinguisticdatabase/public/lib/
onlinelinguisticdatabase/public/templates/
onlinelinguisticdatabase/public/OLD-Model.txt

# Ignore the GMail .ini file
gmail.ini

# Ignore _requests_tests.py since it is copied from tests/ when setup-app is run
/_requests_tests.py
